<h1>
  Payment Results
</h1>

<dl>
  <dt>
    APR
  </dt>
  <dd>
    5.2000%
  </dd>

  <dt>
    Number of years
  </dt>
  <dd>
    3
  </dd>

  <dt>
    Principal
  </dt>
  <dd>
    $1,000.00
  </dd>

  <dt>
    Payment
  </dt>
  <dd>
    $30.06
  </dd>
</dl>

<a href="/payment/new">
  Calculate another payment
</a>
