
<form action="/square/results">
  <div>
    <label for="number_square">Enter a number</label>
  </div>
  <div>
    <input type="text" name="number" id="number_square" placeholder="What number do you want to take the square of?">
  </div>
  <button>Calculate square</button>
</form>
